.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-home {
  font-weight: bold;
  text-decoration: none;
}
.navigation-links-public-css {
  font-weight: bold;
  text-decoration: none;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-store {
  font-weight: bold;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-about {
  font-weight: bold;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-discord {
  font-weight: bold;
  margin-left: var(--dl-space-space-twounits);
}










@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-public-css {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-store {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-about {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-discord {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-card1-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card1-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-card1-text {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card1-text1 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}






@media(max-width: 767px) {
  .gallery-card1-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card1-image {
    height: 10rem;
  }
}

.public-css-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #9dced5 0%, #3886C7 100%);
}
.public-css-container1 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.public-css-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 3px;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-image: url();
}
.public-css-image {
  height: 194px;
}
.public-css-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: #4e4a4a;
}
.public-css-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.public-css-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.public-css-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.public-css-nav1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.public-css-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.public-css-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.public-css-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.public-css-text {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.public-css-dropdown-arrow {
  transition: 0.3s;
}
.public-css-icon2 {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.public-css-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.public-css-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.public-css-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.public-css-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.public-css-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.public-css-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.public-css-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.public-css-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.public-css-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.public-css-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.public-css-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.public-css-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.public-css-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.public-css-gallery {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.public-css-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.public-css-image01 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.public-css-text04 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.public-css-text07 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.public-css-gallery-card01 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.public-css-image02 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.public-css-text08 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.public-css-text11 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.public-css-gallery-card02 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.public-css-image03 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.public-css-text12 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.public-css-text13 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.public-css-gallery-card03 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.public-css-image04 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.public-css-text14 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.public-css-text15 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.public-css-gallery-card04 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.public-css-image05 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.public-css-text16 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.public-css-text17 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.public-css-gallery-card05 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.public-css-image06 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.public-css-text18 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.public-css-text19 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.public-css-gallery-card06 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.public-css-image07 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.public-css-text20 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.public-css-text21 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.public-css-gallery-card07 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.public-css-image08 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.public-css-text22 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.public-css-text23 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.public-css-gallery-card08 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.public-css-image09 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.public-css-text24 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.public-css-text25 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.public-css-gallery-card09 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.public-css-image10 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.public-css-text26 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.public-css-text29 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.public-css-gallery-card10 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.public-css-image11 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.public-css-text30 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.public-css-text31 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.public-css-gallery-card11 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.public-css-image12 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.public-css-text32 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.public-css-text33 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.public-css-gallery-card12 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.public-css-image13 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.public-css-text34 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.public-css-text35 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.public-css-gallery-card13 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.public-css-image14 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.public-css-text36 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.public-css-text37 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.public-css-gallery-card14 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.public-css-image15 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.public-css-text38 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.public-css-text39 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.public-css-gallery-card15 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.public-css-gallery-card16 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media(max-width: 991px) {
  .public-css-nav1 {
    padding-top: 16px;
  }
  .public-css-gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .public-css-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .public-css-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .public-css-nav {
    display: none;
  }
  .public-css-icon {
    display: flex;
  }
  .public-css-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .public-css-gallery-card {
    flex-direction: column;
  }
  .public-css-gallery-card01 {
    flex-direction: column;
  }
  .public-css-gallery-card02 {
    flex-direction: column;
  }
  .public-css-gallery-card03 {
    flex-direction: column;
  }
  .public-css-gallery-card04 {
    flex-direction: column;
  }
  .public-css-gallery-card05 {
    flex-direction: column;
  }
  .public-css-gallery-card06 {
    flex-direction: column;
  }
  .public-css-gallery-card07 {
    flex-direction: column;
  }
  .public-css-gallery-card08 {
    flex-direction: column;
  }
  .public-css-gallery-card09 {
    flex-direction: column;
  }
  .public-css-gallery-card10 {
    flex-direction: column;
  }
  .public-css-gallery-card11 {
    flex-direction: column;
  }
  .public-css-gallery-card12 {
    flex-direction: column;
  }
  .public-css-gallery-card13 {
    flex-direction: column;
  }
  .public-css-gallery-card14 {
    flex-direction: column;
  }
  .public-css-gallery-card15 {
    flex-direction: column;
  }
  .public-css-gallery-card16 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .public-css-header {
    padding: var(--dl-space-space-unit);
  }
  .public-css-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .public-css-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .public-css-image01 {
    height: 10rem;
  }
  .public-css-image02 {
    height: 10rem;
  }
  .public-css-image03 {
    height: 10rem;
  }
  .public-css-image04 {
    height: 10rem;
  }
  .public-css-image05 {
    height: 10rem;
  }
  .public-css-image06 {
    height: 10rem;
  }
  .public-css-image07 {
    height: 10rem;
  }
  .public-css-image08 {
    height: 10rem;
  }
  .public-css-image09 {
    height: 10rem;
  }
  .public-css-image10 {
    height: 10rem;
  }
  .public-css-image11 {
    height: 10rem;
  }
  .public-css-image12 {
    height: 10rem;
  }
  .public-css-image13 {
    height: 10rem;
  }
  .public-css-image14 {
    height: 10rem;
  }
  .public-css-image15 {
    height: 10rem;
  }
}
